body
{
    background-color: #9ce599;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#search-bar
{
    display: flex;
    align-items: center;
    float: left;
    
}

#baner
{
    background-color: #e84a5f;
    display: inline-flex;
    width: 100%;
    
}

#akcje
{
    float: right;
    display: flex;
    align-items: center;
    background-color: #e84a5f;
    margin-left: auto;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#logo
{
    max-height: 100px;
}

#login, #register
{
    height: 40px;
    width: 90px;
}

#szukaj
{
    padding-right: 80%;
    padding-top: 30px;
}

#footer
{
    clear: both;
    text-align: center;
    background-color: #2A363B;
    color: #bec2c4;
}
#produkt li
{
    display: inline;
    
}
#produkt
{
    clear: both;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    background-color: #FECEAB;
}
#logo {
    padding: 20px;
}
#szukaj {
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    font-size: 20px;
    background-color: #f4ffef;
}
#search-button {
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    background-color: #2A363B;
    color:#bec2c4;
}
